<!DOCTYPE html>
<html>
<head>
    @*
        <title>@Page.Title</title>*@
    <title>Droguería Kellerhoff</title>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91993710-1', 'auto');
        ga('send', 'pageview');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Nativo Sistemas" />
    <meta name="distribution" content="Global" />
    <meta name="city" content="Rosario" />
    <meta name="country" content="Argentina" />
    <meta name="geography" content="Pueyrredón 1149 - S2000QIG - Rosario - Santa Fe - Argentina" />
    <meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet" />
    <meta name="language" content="Spanish" />
    <meta name="theme-color" content="#2C3E50" />
    <link rel="shortcut icon" href="~/favicon.ico" />

    @RenderSection("head", required: false)
    <link href="../includes/mvc/css/main.css?n=21" rel="stylesheet">
    <link href="../includes/mvc/css/select2.min.css?n=2" rel="stylesheet">
    <link href="../includes/mvc/css/main-overwrite.css?n=44" rel="stylesheet">
</head>
@{
    if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR || 
        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL || 
        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL ||
        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
    {
        <style>
            .btn_confirmar {
                display: none !important;
            }
        </style>
    }
}
<body id="divBody" class="bd_sec" onresize="onresizeBody()">
    <div id="divCargandoContenedorGeneralFondo"></div>
    @*<div id="modalModuloCelular" class="modal md-effect-1 md-content portfolio-modal in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>*@
    <div id="modalModulo" class="modal md-effect-1 md-content portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div id="modalModuloAlert" class="modal md-effect-1 md-content portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <header id="divHeader" class="wrapCelular">
        <nav id="hdr" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        @{
                            string hrefHOME;
                            if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR ||
                                ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL ||
                                ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL ||
                                ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                            {
                                //hrefHOME = " href=\"http://www.kellerhoff.com.ar:8082\" ";
                                hrefHOME = " href=\" /ctacte/composicionsaldo\" ";
                            }
                            else
                            {
                                hrefHOME = " href=\"/mvc/Buscador\" ";
                                //hrefHOME = " href=\"http://www.kellerhoff.com.ar:8082/index.php?NumeroCliente=" + ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).usu_codCliente.ToString() + "\" ";
                            }
                        }
                        <a class="navbar-brand" @{WriteLiteral(hrefHOME);}>&nbsp;</a>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <div class="col-xs-2 no-padding-left">
                            <a id="menu-toggle" href="#" class="navbar-toggle float-left"><i class="fa fa-bars"></i></a>
                        </div>
                        <div class="col-xs-1 no-padding">
                            <a @{WriteLiteral(hrefHOME);} class="float-left" style="margin-top:5px"><img src="/../../img/mvc/logos/logo_ch.png" /></a>
                        </div>
                        <div class="col-xs-9 no-padding text-right">
                            <div class="col-xs-11 bienv_xs">
                                <span>Bienvenido!</span><div class="clear"></div>@{
                                    if (Session["clientesDefault_Usuario"] != null)
                                    {
                                        WriteLiteral(((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).NombreYApellido);
                                    }}
                            </div>
                            <div class="col-xs-1"><div class="clear15"></div><a class="user_xs" href="#"><i class="fa fa-user-circle-o"></i></a></div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 hidden-xs">
                        <ul class="nav navbar-nav navbar-right">
                            @{
                                string classPedidos = "";
                                string classCuentasCorrientes = "";
                                string classMediosDePagos = "";
                                string classDescargas = "";
                                string classDevo = "";
                                string strController = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
                                switch (strController)
                                {
                                    case "Buscador":
                                    case "carrito":
                                    case "Diferido":
                                    case "carritoDiferido":
                                    case "subirpedido":
                                    case "subirarchivoresultado":
                                    case "subirarchivoresultado_msg":
                                    case "estadopedidos":
                                    case "estadopedidosresultado":
                                    case "recuperador":
                                    case "promocionescliente":
                                        classPedidos = " class=\"active\" ";
                                        break;
                                    case "Documento":
                                    case "FichaDebeHaberSaldo":
                                    case "descargaResumenes":
                                    case "descargaResumenesDetalle":
                                    case "composicionsaldo":
                                    case "composicionsaldoCtaCte":
                                    case "composicionsaldoCtaResumen":
                                    case "composicionsaldochequecuenta":
                                    case "ConsultaDeComprobantes":
                                    case "RespuestaConsultaDeComprobantes":
                                    case "comprobantescompleto":
                                    case "ConsultaDeComprobantesObraSocial":
                                    case "ConsultaDeComprobantesObraSocialResultado":
                                    case "ConsultaDeComprobantesObraSocialResultadoRango":
                                    case "deudaVencida":
                                        classCuentasCorrientes = " class=\"active\" ";
                                        break;
                                    case "mediosdepago1":
                                    case "mediosdepago2":
                                    case "mediosdepago3":
                                    case "mediosdepago4":
                                    case "mediosdepago5":
                                        classMediosDePagos = " class=\"active\" ";
                                        break;
                                    case "catalogo":
                                    case "descarga":
                                        classDescargas = " class=\"active\" ";
                                        break;
                                    case "Devoluciones":
                                    case "NuevaDevolucion":
                                    case "NuevaDevolucionVencidos":
                                        classDevo = " class=\"active\" ";
                                        break;
                                    default:
                                        break;
                                }

                            }
                            @*inicio FARMASHOW*@
                            @{
                                //string hrefFARMASHOW;
                                //if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR ||
                                //    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL ||
                                //    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL)
                                //{
                                //    hrefFARMASHOW = " href=\"http://www.kellerhoff.com.ar:8081\" ";
                                //}
                                //else
                                //{
                                //    hrefFARMASHOW = " href=\"http://www.kellerhoff.com.ar:8081/index.php?NumeroCliente=" + ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).usu_codCliente.ToString() + "\" ";
                                //}
                            }
                            @*<li><a @{WriteLiteral(hrefFARMASHOW);} target="_blank" class="btnFarmashow"><h3>FARMASHOW</h3></a></li>*@
                            @*fin FARMASHOW*@
                            @{
                                if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_PEDIDOS))
                                {
                                    <li><a @{ WriteLiteral(classPedidos);} href="/mvc/Buscador"><h3>PEDIDOS</h3></a></li>
                                }
                                if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_DEVOLUCIONES))
                                {
                                    <li class="nuevo" data-fecha="2021-01-01"><a href="/devoluciones/Devoluciones" @{ WriteLiteral(classDevo);}><h3>DEVOLUCIONES</h3></a></li>
                                }
                                if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_CUENTASCORRIENTES))
                                {
                                    <li><a href="/ctacte/composicionsaldo" @{ WriteLiteral(classCuentasCorrientes);}><h3>CUENTAS CORRIENTES</h3></a></li>
                                }
                                <li class="hidden-sm"><a @{ WriteLiteral(classMediosDePagos);} href="/config/mediosdepago1"><h3>MEDIOS DE PAGOS</h3></a></li>
                                if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_DESCARGAS))
                                {
                                    <li class="hidden-sm"><a href="/config/catalogo" @{ WriteLiteral(classDescargas);}><h3>DESCARGAS</h3></a></li>
                                }
                            }
                            <li>
                                <a data-toggle="dropdown" class="user" href="#"><span><i class="fa fa-circle"></i></span><i class="fa fa-user-circle-o"></i></a>
                                <ul class="dropdown-menu">
                                    <li><span>Bienvenido!</span></li>
                                    <li>
                                        @{
                                            if (Session["clientesDefault_Usuario"] != null)
                                            {
                                                WriteLiteral(((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).NombreYApellido);
                                            }}
                                    </li>
                                    <li><div class="separate"></div></li>
                                    @{
                                        if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL && 
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                                        {
                                            <li><a href="/config/mensajes"><i class="fa fa-envelope"></i>Mensajes<span class="msj_active">@{WriteLiteral(Kellerhoff.Controllers.configController.ObtenerCantidadMensaje());}</span></a></li>
                                        }
                                        <li><a href="/config/perfil"><i class="fa fa-key"></i>Contrase&ntilde;a</a></li>
                                        if (HttpContext.Current.Session["clientesDefault_Usuario"] != null && 
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)HttpContext.Current.Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_OPERADORCLIENTE && 
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL && 
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
                                            ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                                        {
                                            <li><a href="/config/usuarios"><i class="fa fa-users"></i>Usuarios</a></li>
                                        }

                                    }
                                    <li><a class="off" href="#" onclick="onclickSignOff(); return false;"><i class="fa fa-power-off"></i>SALIR</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- menu mobile -->
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div class="row sidebar-hdr">
                    <a id="menu-close" href="#" class="toggle">X</a>
                    <img src="../img/mvc/logos/logo.png" class="img_logo_xs" />
                </div>
                <div class="clear"></div>
                @*inicio FARMASHOW*@
                @*<li>
            <a class="s_menu1 btnFarmashow" id="filter_FARMASHOW" @{WriteLiteral(hrefFARMASHOW);} target="_blank">FARMASHOW</a>
        </li>*@
                @*fin FARMASHOW*@
                @{ if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_PEDIDOS))
                    {
                        <li>
                            <a class="s_menu" id="filter_1" href="#">PEDIDOS<i id="angle_filter_1" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_1">
                                <a href="/mvc/Buscador"><i class="fa fa-search"></i>BUSCADOR</a>
                                @{
                                    if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
                                        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL &&
                                        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
                                        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                                    {
                                        <a href="/mvc/Diferido"><i class="fa fa-shopping-basket"></i>CARRO SECUNDARIO</a>
                                    }
                                }
                                <a href="/mvc/estadopedidos"><i class="fa fa-file-text"></i>MIS PEDIDOS</a>
                                @{
                                    if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
                                       ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL &&
                                       ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
                                       ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                                    {
                                        <a href="/mvc/recuperador?t=1"><i class="fa fa-recycle"></i>RECUPERADOR</a>
                                        <a href="/mvc/subirpedido"><i class="fa fa-upload"></i>SUBIR PEDIDOS</a>
                                    }
                                }
                                <a href="/mvc/promocionescliente"><i class="fa fa-percent"></i>OFERTAS</a>
                            </div>
                        </li>
                    }
                    if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_DEVOLUCIONES) && ((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]).cli_codsuc == "CC")
                    {
                        <li >
                            <a class="s_menu nuevo-celu" id="filter_6" href="#" data-fecha="2021-01-01">DEVOLUCIONES<i id="angle_filter_6" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_6">
                                <a href="/devoluciones/Devoluciones"><i class="fa fa-file-text"></i>DEVOLUCIONES</a>
                                <a href="/devoluciones/NuevaDevolucion"><i class="fa fa-reply"></i>DEVOLUCIÓN NORMAL</a>
                                <a href="/devoluciones/NuevaDevolucionVencidos"><i class="fa fa-calendar-minus-o"></i>DEVOLUCIÓN DE VENCIDOS</a>
                            </div>
                        </li>
                    }
                    if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_CUENTASCORRIENTES))
                    {
                        <li>
                            <a class="s_menu" id="filter_2" href="#">CUENTAS CORRIENTES<i id="angle_filter_2" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_2">
                                <a href="/ctacte/deudaVencida"><i class="fa fa-calendar-times-o"></i>DEUDA VENCIDA</a>
                                <a href="#" onclick="onclickCreditoDisponible(); return false;"><i class="fa fa-usd"></i>CREDITO DISPONIBLE</a>
                                <a href="/ctacte/composicionsaldo"><i class="fa fa-balance-scale"></i>COMPOSICI&Oacute;N DE SALDOS</a>
                                <a href="/ctacte/FichaDebeHaberSaldo"><i class="fa fa-exchange"></i>FICHA MOVIMIENTOS</a>
                                <a href="/ctacte/ConsultaDeComprobantes"><i class="fa fa-file"></i>COMPROBANTES</a>
                                <a href="/ctacte/ConsultaDeComprobantesObraSocial"><i class="fa fa-medkit"></i>OBRAS SOCIALES</a>
                                <a href="/ctacte/descargaResumenes"><i class="fa fa-file-pdf-o"></i>RESUMENES</a>
                                <a href="#" onclick="onclickObtenerSaldoFinalADiciembrePorCliente(); return false;"><i class="fa fa-usd"></i>SALDO AL 31/12</a>
                                @{
                                    if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
                                        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL &&
                                        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
                                        ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                                    {
                                        <a href="#" onclick="onclickConsultasCtaCte(); return false;"><i class="fa fa-envelope"></i>CONSULTAS</a>
                                    }
                                }

                            </div>
                        </li>}
                    <li>
                        <a class="s_menu" id="filter_3" href="#">MEDIOS DE PAGO<i id="angle_filter_3" class="fa fa-angle-down"></i></a>
                        <div class="div_filter" id="d_filter_3">
                            <a href="/config/mediosdepago1"><i class="fa fa-dollar"></i>SERVICIO RECAUDATORIO</a>
                            <a href="/config/mediosdepago2"><i class="fa fa-credit-card-alt"></i>TARJETA DE DEPOSITO</a>
                            <a href="/config/mediosdepago3"><i class="fa fa-bank"></i>Depositos y transferencias bancarias</a>
                            <a href="/config/mediosdepago4"><i class="fa fa-credit-card"></i>Tarjetas de Crédito</a>
                            <a href="/config/mediosdepago5"><i class="fa fa-file-text-o"></i>Sistema Cobinpro</a>
                        </div>
                    </li>
                    if (Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_DESCARGAS))
                    {
                        <li>
                            <a class="s_menu" id="filter_4" href="#">DESCARGAS<i id="angle_filter_4" class="fa fa-angle-down"></i></a>
                            <div class="div_filter" id="d_filter_4">
                                <a href="/config/catalogo"><i class="fa fa-file-text-o"></i>CATALOGO Y FOLLETOS</a>
                                <a href="/config/descarga"><i class="fa fa-download"></i>ARCHIVOS PARA DESCARGAR</a>
                            </div>
                        </li>
                    }

                    <li>
                        <a class="s_menu" id="filter_5" href="#">PERFIL<i id="angle_filter_5" class="fa fa-angle-down"></i></a>
                        <div class="div_filter" id="d_filter_5">
                            @{
                                if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
                                    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL &&
                                    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
                                    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                                {
                                    <a href="/config/mensajes"><i class="fa fa-envelope"></i>MENSAJES<span class="msj_active">@{WriteLiteral(Kellerhoff.Controllers.configController.ObtenerCantidadMensaje());}</span></a>
                                }
                                <a href="/config/perfil"><i class="fa fa-key"></i>CONTRASE&Ntilde;A</a>
                                if (HttpContext.Current.Session["clientesDefault_Usuario"] != null &&
                                    ((Kellerhoff.Codigo.capaDatos.Usuario)HttpContext.Current.Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_OPERADORCLIENTE &&
                                    (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
                                    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL &&
                                    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
                                    ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE))
                                {
                                    <a href="/config/usuarios"><i class="fa fa-users"></i>USUARIOS</a>
                                }
                            }
                        </div>
                    </li>
                    <li>
                        <a class="off" href="#" onclick="onclickSignOff(); return false;"><i class="fa fa-power-off"></i>SALIR</a>
                    </li>
                }
                @*<div class="separate_hdr"></div>
        <li style="padding-left:10px"><img src="../img/mvc/logos/logo.png" class="img-responsive" height="40px"></li>
        <div class="clear20"></div>
        <li><i class="fa fa-map-marker color_white" style="margin-left:-30px !important"></i>Pueyrredón 1149 • S2000QIG </li>
        <li style="padding-left:20px; padding-top:10px">Rosario • Santa Fe • Argentina</li>
        <li><a href="tel:0341-4203300"><i class="fa fa-phone color_white"></i>0341 4203300 (rotativas) • Fax: 0341 4203377</a></li>
        <li><i class="fa fa-envelope color_white"></i>info@kellerhoff.com.ar</li>*@
            </ul>
        </nav>
    </header>
    <section class="section-gris-claro wrapCelular">
        <div class="col-xs-12">
            @* Inicio Promotores Y Encargados *@
            @{
                if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR)
                {
                    <p class="TitleCliente">Seleccione un cliente</p>
                    List<Kellerhoff.Codigo.capaDatos.cClientes> colClientes = WebService.spRecuperarTodosClientesByPromotor(((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).ApNombre);

                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (Kellerhoff.Codigo.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]).cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }

                if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL)
                {
                    <p class="TitleCliente">Seleccione un cliente</p>
                    List<Kellerhoff.Codigo.capaDatos.cClientes> colClientes = WebService.RecuperarTodosClientes();

                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (Kellerhoff.Codigo.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]).cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }

                if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
                {
                    <p class="TitleCliente">Seleccione un cliente</p>
                    string[] GrupoCliente;

                    GrupoCliente = ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).NombreYApellido.Split(' ');

                    List<Kellerhoff.Codigo.capaDatos.cClientes> colClientes = WebService.RecuperarTodosClientesByGrupoCliente(GrupoCliente[0]);
                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (Kellerhoff.Codigo.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]).cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }

                if (((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).idRol == Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL)
                {
                    <p class="TitleCliente">Seleccione un cliente</p>
                    string IdSuc;

                    IdSuc = ((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).NombreYApellido.Substring(9,2);

                    List<Kellerhoff.Codigo.capaDatos.cClientes> colClientes = WebService.RecuperarTodosClientesBySucursal(IdSuc);
                    <select class="form-control cmbCliente" id="cmbCliente" name="cmdCliente">
                        @{
                            foreach (Kellerhoff.Codigo.capaDatos.cClientes oCli in colClientes)
                            {
                                string inhabilitado;

                                if (oCli.cli_estado == "INH")
                                {
                                    inhabilitado = "<span style='color: red;'> (INHABILITADO) </span>";
                                }
                                else
                                {
                                    inhabilitado = "";
                                }
                                if (((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]).cli_codigo == oCli.cli_codigo)
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }" selected>
                                        @{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);}
                                    </option>
                                }
                                else
                                {
                                    <option value="@{ WriteLiteral(oCli.cli_codigo); }">@{ WriteLiteral(oCli.cli_codigo); } - @{ WriteLiteral(oCli.cli_nombre); } @{ WriteLiteral(inhabilitado);} </option>
                                }
                            }
                        }
                    </select>
                }
            }
            @* Fin Promotores *@
        </div>
        <div id="contenidoRender" class="container-fluid">
            @RenderBody()
        </div>
    </section>
    @*borrar*@
    <div id="divContenedorOfertas" class="off_fxd wrapCelular">
    </div>

    @*fin borrar*@
    <footer id="idFooter" class="footer wrapCelular"></footer>

    <div class="container-fluid footer_legales wrapCelular">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 padding_left_ftr ftr_contacto">
                <div class="clear15"></div>
                <p class="p_11 color_white">&copy;   @{ WriteLiteral(DateTime.Now.Year.ToString()); }  Droguer&iacute;a Kellerhoff </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 padding_left_ftr ftr_contacto">
                <table border="0" cellspacing="0" cellpadding="0" class="hidden-xs">
                    <tr>
                        <td align="right" class="ftr_firma">Desarrollo&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <a style="display: inline-block; width: auto; margin-top: 7px;" class="float-left" href="http://www.nativosistemas.com/" target="_blank" title="Nativo Sistemas">
                                <img src="~/img/mvc/logos/nativo.png" style="height:28px;" />
                            </a>
                        </td>
                        <td align="center" class="ftr_firma">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="right" class="ftr_firma">Diseño</td>
                        <td><a class="mtz" href="http://mestizosweb.com/" target="_blank" title="Mestizos Comunicaci&oacute;n"></a></td>
                    </tr>
                </table>
                <div class="col-xs-12 text-right visible-xs"><a href="http://www.nativosistemas.com/" target="_blank" title="Nativo Sistemas"> <img src="~/img/mvc/logos/nativo.png" style="height:28px;" /></a></div>
            </div>
            @*<div class="clear25 visible-xs"></div>*@
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><a class="buttonontop" title="Subir" href="#"><i class="fa fa-caret-up"></i></a></div>
        </div>
    </div>
    @{
        string resultado = string.Empty;
        if (System.Web.HttpContext.Current.Session["clientesDefault_Cliente"] != null)
        {
            Kellerhoff.Codigo.capaDatos.cClientes oCli = ((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]);
            resultado += "<input type=\"hidden\" id=\"hiddenCliente\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(oCli)) + "\" />";
            if (oCli.cli_estado == Kellerhoff.Codigo.clases.Constantes.cESTADO_HAB
            && Kellerhoff.Codigo.clases.FuncionesPersonalizadas.IsPermisoSeccion(Kellerhoff.Codigo.clases.Constantes.cSECCION_PEDIDOS))
            {
                if (System.Web.HttpContext.Current.Session["main_ListaOferta"] == null)
                {
                    System.Web.HttpContext.Current.Session["main_ListaOferta"] = WebService.RecuperarTodasOfertaPublicar();
                }
                if (System.Web.HttpContext.Current.Session["main_ListaOferta"] != null)
                {
                    List<Kellerhoff.Codigo.capaDatos.cOferta>
                        resultadoOferta = (List<Kellerhoff.Codigo.capaDatos.cOferta>
                            )System.Web.HttpContext.Current.Session["main_ListaOferta"];
                    resultado += "<input type=\"hidden\" id=\"hiddenListaOfertas\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(resultadoOferta)) + "\" />";
                }
            }
        }

        if (Session["ClientesBase_isLogeo"] != null && Convert.ToBoolean(Session["ClientesBase_isLogeo"]))
        {
            Session["ClientesBase_isLogeo"] = null;
            List<Kellerhoff.Codigo.capaDatos.cMensaje>
                listaMensaje = WebService.RecuperarTodosMensajesPorIdCliente((int)((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).usu_codCliente);
            DateTime fechaCompararDesde = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0, 0);
            DateTime fechaCompararHasta = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 59, 59, 999);
            listaMensaje = listaMensaje.Where(x => x.tme_importante && ((DateTime)x.tme_fechaDesde) <= fechaCompararDesde && ((DateTime)x.tme_fechaHasta) >= fechaCompararHasta).ToList();
            listaMensaje.AddRange(WebService.RecuperartTodosMensajeNewPorSucursal(((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]).cli_codsuc));
            resultado += "<input type=\"hidden\" id=\"hiddenListaMensajeImportante\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(listaMensaje)) + "\" />";
            List<Kellerhoff.Codigo.capaDatos.cArchivo> listaPopUp = WebService.RecuperarPopUpPorCliente((int)((Kellerhoff.Codigo.capaDatos.Usuario)Session["clientesDefault_Usuario"]).usu_codCliente, ((Kellerhoff.Codigo.capaDatos.cClientes)System.Web.HttpContext.Current.Session["clientesDefault_Cliente"]).cli_codsuc);
            resultado += "<input type=\"hidden\" id=\"hiddenListaPopUp\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(listaPopUp)) + "\" />";
        }
        if (System.Web.HttpContext.Current.Session["isMostrarOferta"] != null)
        {
            resultado += "<input type=\"hidden\" id=\"hiddenIsMostrarOferta\" value=\"" + Server.HtmlEncode(Convert.ToBoolean(Session["isMostrarOferta"]).ToString().ToLower()) + "\" />";
        }
        WriteLiteral(resultado);
    }
    @RenderSection("sectionHidden", required: false)
    <script type="text/javascript" src="../includes/mvc/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="../includes/mvc/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../includes/mvc/js/jquery/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../includes/mvc/js/select2.full.min.js"></script>



    <script src="~/includes/mvc/js/libreria.js?n=21" type="text/javascript"></script>
    <script src="~/includes/mvc/js/oferta.js?n=14" type="text/javascript"></script>
    <script src="~/includes/mvc/js/kellerhoff.js?n=48" type="text/javascript"></script>
    <script src="~/includes/mvc/js/ajax.js?n=42" type="text/javascript"></script>
    <script src="~/includes/mvc/js/mensaje.js?n=27" type="text/javascript"></script>
    <script src="~/includes/mvc/js/promotores.js?n=3" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
